---
import { Icon } from "astro-icon";

/** 
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/
const socialLinks = [
	{
		name: "mdi:github",
		friendlyName: "Github",
		link: "https://github.com/friendlylifeguard",
	},
	{
		name: "mdi:linkedin",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/byungchul-kang-ba37b5178/",
	},
	{
		name: "mdi:twitter",
		friendlyName: "Twitter",
		link: "https://twitter.com/alanbkang"
	}
];
---

<div class="flex flex-wrap items-center gap-x-4">
	<h2 class="text-2xl font-bold text-accent">Find me on</h2>
	<ul class="flex flex-1 items-center gap-x-4 sm:flex-initial">
		{
			socialLinks.map(({ link, name, friendlyName }) => {
				const isEmail = name.includes("email") || friendlyName.toLowerCase().includes("email");
				return (
					<li class="flex">
						<a
							class="inline-block p-2 rounded-md hover:bg-accent/10 transition-all duration-300"
							href={link}
							target="_blank"
							rel={`noopener noreferrer me ${isEmail ? "authn" : ""}`}
						>
							<Icon class="h-8 w-8" name={name} aria-hidden="true" focusable="false" />
							<span class="sr-only">{friendlyName}</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</div>
